  <% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>La Pizzeria de Don Juan Colicchio</h1>

  <h3>
       Welcome to the official website for La Pizzeria de Don Juan Colicchio.
    The pizza of the week will be featured in the blog section. In order to get 
    notified of the release of a new pizza, sign up now to get e-mail updates 
    for the week's receipe.
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("pizzajuan.png", alt: "La Pizzeria Don Juan Colicchio"),
            'http://rubyonrails.org/' %>
<% end %>